* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
   
  body {
    font-family: Arial, sans-serif;
    color: #261b4d;
    background: linear-gradient(to bottom right, #08192b, #08192b);
  }

  ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #0a192f;
  }

::-webkit-scrollbar-thumb {
    background-color: #495670;
    border-radius: 10px;
    border: 2px solid #0a192f;
}

/* For Firefox */
html {
    scrollbar-width:thin;
    scrollbar-color: #495670 #0a192f;
}
   
  header {
    position:sticky;
    top: 0;
    background-color: rgba(27, 40, 53, 0.7);
    color: white;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 2rem;
    transition: top 0.3s;
  }

  .nav-button{
    display: none;
    color: white;
    z-index: 1000;
    font-size: 2rem;
  }

  .nav-button:hover{
    cursor: pointer;
  }

  .nav-button .view{
    position: fixed;
    top: 2rem;
    right: 2rem;
    /* display: none; */

  }

  .nav-button .cancel{
    display: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }


   
  .header-content {
    font-size: 1.5rem;
    font-weight: bold;
    transform: scale(1.1);
    transition: transform 0.5s ease;
  }
   
  header:hover .header-content {
    transform: scale(1.15);
  }
   
  header nav {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: 0.5em;
  }
   
  header nav a {
    font-size: 15px;
    color: #ccd6f6;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: color 0.3s ease, background 0.3s ease;
    border-radius: 5px;
  }
   
  header nav a:hover {
    /* background: white; */
    color: rgb(100 255 218);
  }
   
  .resume-btn {
    background: #e67e22;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-weight: bold;
  }
   
  .resume-btn:hover {
    background: #d35400;
  }

  .logo{
    cursor: pointer;
    transition: transform 0.3s ease;
  }


   
  .section {
    width: 80vw;
    margin: 2em auto;
    padding: 2em;
    /* background: rgba(100, 100, 109, 0.9); */
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    transition: transform 0.3s ease;
  }
   
  .section:hover {
    transform: scale(1.02);
  }
   
  h2 {
    font-size: 1.8em;
    color: #34495e;
    margin-bottom: 1em;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
  }
   
  .project {
    margin-bottom: 1.5em;
    padding: 1em;
    background: rgba(236, 240, 241, 0.8);
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
  }
   
  .project:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
   
  footer {
    text-align: center;
    padding: 1em;
    /* background-color: #34495e; */
    color: rgba(247, 250, 251, 0.4);
    font-weight: 200;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2em;
  }

  .left-sidebar, .right-sidebar{
    color: #a8b2d1;
    position: fixed;
    bottom: 0;
  }

  .left-sidebar{
    left: 0;
    /* writing-mode: vertical-rl;
    text-orientation: mixed; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 50px;
    color: #a8b2d1;
  }

  .left-sidebar .social .social-icon{
    padding: 10px 0px;
  }

  .left-sidebar .social .social-icon a{
    color: #a8b2d1;
    text-decoration: none;
    transition: color 0.3s ease, background 0.3s ease;
    display: inline-block;
    transition: transform 0.4s ease;
  }

  .left-sidebar .social .social-icon a:hover{
    transform: translateY(-5px);
    color: #64ffda;
  }
  .left-sidebar .line{
    margin-top: 30px;
    height: 100px;
    margin-right: 10px;
    border-right: 1px solid #a8b2d1;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .right-sidebar{
    right: 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    color: #a8b2d1;
  }

  .right-sidebar .email{
    font-size: 12px;
    margin-right: 2px;
    font-weight: 100;
  }

  .right-sidebar .right-line{
    margin-top: 30px;
    height: 100px;
    margin-right: 10px;
    border-right: 1px solid #a8b2d1;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  #info {
    text-align: left;
  }

  #info > .title{
    color: #64ffda;
  }

  #info > .header{
    margin: 1rem 0rem;
    color: #ccd6f6;
    font-size: 62px;
    font-weight: 600;
    line-height: 1.1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #info > .para {
    color: #8892b0;
    width: min(80vw, 500px);
    letter-spacing: 1px;
    line-height: 22px;
  }

  #about{
    width: 70%;
  }

  #about .header{
    display: flex;
    width: 70%;
  }
  
  #about .header .start{
    color: #64ffda;
  }

  #about .header .title{
    min-width: 20px;
    font-size: 26px;
    margin-left: 10px;
    margin-top: -5px;
    color: rgb(204 214 246);
  }

  #about .header .line {
    margin-top: 10px;
    width: 60%;
    margin-left: 20px;
    border-top: 2px solid #233554;
  }

  #about .para-image{
    display: flex;
    /* justify-content: space-evenly; */
  }

  #about .para{
    margin-top: 3rem;
    color: #8892b0;
    width: 70%;
    letter-spacing: 1px;
    line-height: 22px;
  }

  #about .para-image .para-text ul li {
    /* list-style: none; */
    color: #8892b0;
  }

  #about .para-image{
    height: auto;

  }

  #about .para-image .image{
      position: relative;
      display: inline-block;
      margin-right: 4rem;
      transition: transform 0.4s ease;
  }

  #about .para-image .image::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    /* width: 100%;
    height: 100%; */
    width: 210px;
    height: 240px;
    margin-top: 32px;
    margin-left: -32px;
    /* background-color: #64ffda; */
    border: 2px solid #64ffda;
    z-index: -1;
    transition: opacity 0.4s ease;
    opacity: 1;
    border-radius: 5px;
  }

  #about .para-image .image img{
    margin-top: 35px;
    margin-left: -30px;
    width: 210px;
    height: 240px;
    filter: grayscale(100%);
    transition: filter 0.5s;
    border-radius: 4px;
    transition: transform 0.4s ease;
  }

  #about .para-image .image img:hover{
    transform: translate(-4px, -4px);
    filter: grayscale(0%);
  }

  /* ================== Technology ================ */
  #technology{
    width: 60%;
    margin-bottom: 3rem;
  }

  #technology .header{
    display: flex;
    width: 100%;
  }
  
  #technology .header .start{
    color: #64ffda;
  }

  #technology .header .title{
    min-width: 20px;
    font-size: 26px;
    margin-left: 10px;
    margin-top: -5px;
    color: rgb(204 214 246);
  }

  #technology .header .line {
    margin-top: 10px;
    width: 50%;
    margin-left: 20px;
    border-top: 2px solid #233554;
  }

  #technology .technology{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #technology .technology h3{
    color: #64ffda;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }


  /* ========= Projects ============= */

  #projects{
    width: 80%;
    margin-bottom: 3rem;
  }

  #projects .header{
    display: flex;
    width: 100%;
  }

  #projects .header .start{
    color: #64ffda;
  }

  #projects .header .title{
    min-width: 20px;
    font-size: 26px;
    margin-left: 10px;
    margin-top: -5px;
    color: rgb(204 214 246);
  }

  #projects .header .line {
    margin-top: 10px;
    width: 50%;
    margin-left: 20px;
    border-top: 2px solid #233554;
  }

  #projects .project-container{
    margin-top: 2rem;
    color: white;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  #projects .project-container .card{
    background-color: #112240;
    flex: 1 1 13rem;
    padding: 2rem;
    border-radius: 4px;
    transition: transform .3s;
    max-width: 100%;
  }

  #projects .project-container .card:hover{
    cursor: pointer;
    transform: translate(0rem, -.5rem);
  }

  #projects .project-container .card .header-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #projects .project-container .card .header-icons .left-icons{
    font-size: 2rem;
  }

  #projects .project-container .card .header-icons .right-icons .icon{
    color: #ccd6f6;
    margin: 0rem .1rem;
  }

  #projects .project-container .card .header-icons .right-icons .icon:hover{
    color: #64ffda;
  }

  #projects .project-container .card .header{
    color: #ccd6f6;
    font-size: 1.2rem;
    margin: 1rem 0rem .5rem 0rem;
    font-weight: bold;
    line-height: 1.3rem;
  }

  #projects .project-container .card .header:hover{
    color: #64ffda;
  }

  #projects .project-container .card .description{
    color: #9d9d9e;
    font-size: .9rem;
    line-height: 1.3rem;
  }

  #projects .project-container .card .technology-used{
    margin: 1rem 0rem;
    overflow: auto;
  }

  #projects .project-container .card .technology-used ul {
    list-style: none;
    display: flex;
    float: left;
    gap: .5rem;
    
  }

  #projects .project-container .card .technology-used ul li {
    color: #8892b0;
    font-size: .7rem;
    font-family: 'Courier New', Courier, monospace;
  }

  /* ========= Experience ============ */

  #experience{
    width: 60%;
    margin-bottom: 3rem;
  }

  #experience .header{
    display: flex;
    width: 100%;
  }
  
  #experience .header .start{
    color: #64ffda;
  }

  #experience .header .title{
    min-width: 20px;
    font-size: 26px;
    margin-left: 10px;
    margin-top: -5px;
    color: rgb(204 214 246);
  }

  #experience .header .line {
    margin-top: 10px;
    width: 50%;
    margin-left: 20px;
    border-top: 2px solid #233554;
  }

  #experience .work{
    margin-top: 3rem;
    color: #8892b0;
    display: flex;
    max-width: 800px;
    width: 100%;
    /* overflow: hidden; */
  }

  #experience .work .worklist{
    width: 20% !important;
    height: max-content;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    transition: transform 0.3s ease;
  }

  .company-item {
    padding: 15px;
    cursor: pointer;
    border-left: 2px solid rgb(35 53 84);
    transition: background-color 0.3s, border-color 0.3s;
  }

  .company-item:hover,
  .company-item.active {
        /* background-color: #3a3a3a; */
        color: rgb(100 255 218);
        border-color: rgb(100 255 218);
        border-radius: 1px;
  }

  #experience .work-description {
    margin-left: 25px;
    width: 100%;
  }

  #experience .work-description .header {
    color: rgb(204 214 246);
    font-size: 18px;
    font-weight: bold;
  }

  #experience .work-description .header .organization {
    color: rgb(100 255 218);
    margin-left: 5px;
  }

  #experience .work-description .date {
    color: rgb(73 86 112);
    margin: 10px 0px;
    font-size: 14px;
  }

  #experience .work-description .description {
    margin-top: 20px;
  }

  #experience .work-description .description ul{
    list-style-type: none;
    padding: 0;
  }

  #experience .work-description .description ul li{
    position: relative;
    margin-left: 25px;
    margin-bottom: 10px;
  }

  #experience .work-description .description ul li::before{
    content: "\25B8";
    position: absolute;
    left: -25px;
    font-size: 20px;
    top: 0;
    color: rgb(100 255 218);
  }
  /* ======== scroll to top */

  .scroll-to-top {
    /* width: 20px;
    height: 20px; */
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #64ffda;
    background-color: #0a192f;
    border: 1px solid #495670;
    border-radius: 50%;
    padding: 5px;
    font-size: 22px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s;
}
.scroll-to-top:hover {
  transform: scale(1.1);
  border: 1px solid #64ffda;
    /* background-color: #0056b3; */
}
.scroll-to-top i {
    font-size: 20px;
}
  #contact{
    text-align: center;
    width: 50%;
  }

  #contact > .title{
    color: #64ffda;
    text-align: center;
  }

  #contact .header{
    margin: 1rem 0rem;
    color: #ccd6f6;
    font-size: 52px;
    font-weight: 600;
    line-height: 1.1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #contact .para{
    color: #8892b0;
    letter-spacing: 1px;
    line-height: 22px;
  }
  .button-wrapper {
    position: relative;
    display: inline-block;
    margin: 2.5rem 0rem;
  }

  .button-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #64ffda;
    z-index: -1;
    transition: opacity 0.4s ease;
    opacity: 0;
    border-radius: 5px;
  }

  .button-wrapper:hover::before {
    opacity: 1;
  }

  #contact .button {
    position: relative;
    text-decoration: none;
    color: #64ffda;
    background-color: #0a192f;
    border: 1px solid #64ffda;
    width: 150px;
    height: 60px;
    padding: 1rem;
    line-height: 1;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.4s ease;
    z-index: 1;
  }

  #contact .button a{
    /* padding-top: 50px !important; */
    text-decoration: none;
    color: #64ffda;
  }

  #contact .button:hover {
    transform: translate(-4px, -4px);
  }


/* Mobile responsiveness */
@media (max-width: 768px) {
  /* Header adjustments */
  .nav-button{
    color: white;
    z-index: 1000;
    font-size: 2rem;
    display: block;
  }

  .nav-button:hover{
    cursor: pointer;
  }

  .nav-button .view{
    position: fixed;
    top: 1rem;
    right: 2rem;
    /* display: none; */
    display: block;

  }

  .nav-button .cancel{
    /* display: block; */
    display: none;
    position: fixed;
    top: 1rem;
    right: 2rem;
  }
  header {
    padding: 0.5rem;
    flex-direction: column;
    transition:  .4s;
  }

  .header-content {
    font-size: 1.2rem;
  }

  header nav {
    display: none;
    /* display:contents; */
    flex-direction: column;
    gap: 0.5em;
  }

  header nav a {
    padding: 1em 0.8em;
    font-size: 0.9rem;
  }

  .resume-btn {
    margin-top: 1rem;
    padding: 0.4em 0.8em;
    margin-bottom: 2em;
    font-size: 0.9rem;
  }

  /* Section width adjustments */
  .section {
    min-height: 70vh;
    /* display: flex; */
    /* justify-content: center; */
    align-content: center;
    width: 90vw;
    padding: 1em;
    margin: 1em auto;
  }

  /* Headings */
  h2 {
    font-size: 1.5em;
  }

  /* About section adjustments */
  #about {
    width: 95%;
  }

  #about .header{
    width: 100%;
  }

  #about .header .title {
    font-size: 22px;
  }

  #about .header .line {
    width: 55%;
  }

  #about .para {
    width: 100%;
  }

  #about .para-image {
    flex-direction: column;
    align-items: center;
  }

  #about .para-image .image::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    /* width: 100%;
    height: 100%; */
    width: 290px;
    height: 350px;
    margin-top: 32px;
    margin-left: -32px;
    /* background-color: #64ffda; */
    border: 2px solid #64ffda;
    z-index: -1;
    transition: opacity 0.4s ease;
    opacity: 1;
    border-radius: 5px;
  }

  #about .para-image .image img{
    margin-top: 35px;
    margin-left: -30px;
    width: 290px;
    height: 350px;
    filter: grayscale(100%);
    transition: filter 0.5s;
    border-radius: 4px;
    transition: transform 0.4s ease;
  }

  #about .para-image .image img:hover{
    transform: translate(-6px, -6px);
    filter: grayscale(0%);
    /* margin-top: 30px;
    margin-left: -35px;
    width: 210px;
    height: 240px;
    border-radius: 4px; */
  }

  #about .para-image .image {
    margin: 0;
  }

  /* technology section =========================== */
  #technology{
    width: 95%;
  }

  #technology .header{
    display: flex;
    width: 100%;
  }

  #technology .technology{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #technology .technology h3{
    color: #64ffda;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }


  /* Projects ============== */

  #projects .project-container .card .technology-used ul li{
    font-size: .8rem;
  }


  
  



  /* Experience section adjustments */
  #experience {
    width: 95%;
  }

  #experience .header .title {
    font-size: 22px;
  }

  #experience .header .line {
    width: 40%;
  }

  #experience .work {
    flex-direction: column;
  }

  #experience .work .worklist {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .company-item {
    padding: 15px;
    cursor: pointer;
    border-left: none;
    border-bottom: 2px solid rgb(35 53 84);
    transition: background-color 0.3s, border-color 0.3s;
    margin-bottom: 2rem;
  }

  .company-item:hover,
  .company-item.active {
        /* background-color: #3a3a3a; */
        color: rgb(100 255 218);
        /* border-color: rgb(100 255 218); */
        border-radius: 1px;
  }

  #experience .work-description {
    /* margin-left: 25px; */
    width: 90%;
  }


  /* Sidebar adjustments */
  .right-sidebar {
    display: none;
  }

  .left-sidebar{
    /* border: 2px solid yellow; */
    align-items: center;
    position:sticky;
    top: 100rem;
    margin-bottom: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .left-sidebar .social{
    display: flex;
    gap: 2rem;
    
  }

  .left-sidebar .line{
    display: none;
  }



  /* Contact section adjustments */
  #contact {
    width: 90%;
  }

  #contact .header {
    font-size: 32px;
  }
}

@media (min-width: 768px) {

  header nav {
    /* display: none; */
    display:block;
    flex-direction: column;
    gap: 0.5em;
  }

}

/* Additional adjustments for very small screens (e.g., 480px) */
@media (max-width: 480px) {
  header {
    padding: 0.5rem 1rem;
  }

  .header-content {
    font-size: 1rem;
  }

  #info > .header {
    font-size: 36px;
  }

  #experience .work-description .header {
    font-size: 16px;
  }
}